<html>

<head>
    <title>Some HTML in here</title>
</head>

<body>
    <h1>Look ma! HTML!</h1>
    <div>
        <form id='form1'>
            <input type="file" name="C_file" id="C_file">
            <input type="file" name="json_file" id="json_file">
            <input type="submit" value="Submit">
        </form>
    </div>
    <div>
        <p id="notif">Upload files</p>
    </div>

    <div>
        <form id='form2'>
            <p> Unzip tar.gz files</p>
            <input type="file" name="tar_file" id="tar_file">
            <input type="submit" value="Test">
        </form>
        <p id="notif2">Upload files</p>

    </div>

    <script src="{{ url_for('static',path='/main.js') }}"></script>

</body>

</html>
