<html>

<head>
    <title>Some HTML in here</title>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-D5BFW8WVSV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-D5BFW8WVSV');
</script>

<body>
    <h1>Look ma! HTML!</h1>
    <div>
        <form id='form1'>
            <div> Submit C file here
                <input type="file" name="C_file" id="C_file">
            </div>
           <div>
            Submit json test cases file here
            <input type="file" name="json_file" id="json_file">
           </div>
            
            <input type="submit" value="Submit">
        </form>
    </div>
    <div>
        <p id="notif">Upload files</p>
    </div>

    <div>
        <form id='form2'>
            <p> Unzip tar.gz files</p>
            <input type="file" name="tar_file" id="tar_file">
            <input type="submit" value="Test">
        </form>
        <p id="notif2">Upload files</p>

    </div>

    <script src="{{ url_for('static',path='/main.js') }}"></script>

</body>

</html>
