<html>

<head>
    <title>Some HTML in here</title>
</head>

<body>
    <h1>Look ma! HTML!</h1>
    <div>
        <form id='form1'>
            <input type="file" name="C_file" id="C_file">
            <input type="file" name="json_file" id="json_file">
            <input type="submit" value="Submit">
        </form>
    </div>
    <div>
        <p id="notif">Upload files</p>
    </div>


    <script>
        el = document.getElementById("notif")
        el.setAttribute('style', 'white-space: pre;');
        document.getElementById('form1').onsubmit = function (e) {
            e.preventDefault();
            var fileInput = document.getElementById('C_file');
            var fileInput2 = document.getElementById('json_file');
            var file = fileInput.files[0];
            var file2 = fileInput2.files[0];
            var formdata = new FormData();
            formdata.append("files", fileInput.files[0]);
            formdata.append("files", fileInput2.files[0]);

            var requestOptions = {
                method: 'POST',
                body: formdata,
                redirect: 'follow'
            };

            request = fetch("upload_files", requestOptions).then(response => {
                if (response.status == 200) {
                    el.innerHTML = "Files uploaded successfully";
                    n = fetch("test").then(response => {
                        if (response.status == 200) {
                            response.json().then(data => {
                                el.textContent = data["content"]
                                console.log(data["content"])
                            })
                        } else {
                            el.innerHTML = "Testing failed";
                            console.log(response.body())
                        }
                    }).catch(error => console.log('error', error));
                } else {
                    el.innerHTML = "File upload failed.";
                    console.log(response.body())
                }
            }).catch(error => console.log('error', error));
        };
    </script>

</body>

</html>
